@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
    background: #f3f3f3;
    font: normal 120% Lato, sans-serif;
    margin: 0;
    color: #555;
}

body > * {
    width: 520px;
    padding: 20px;
    margin: 20px auto;
    background: white;
}

a {
    color: #28D;
    text-decoration: none;
}

h1 a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}

article header {
    margin-bottom: 1em;
}

header time {
    font-size: 80%;
}

#content h2 {
    font-size: 120%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

time {
    color: #888;
}

code, pre, tt {
    font: 12pt Consolas, Monaco, monospace;
    background: #f3f3f3;
    padding: 0.2em;
}

.highlight pre {
    padding: 0.5em;
}

.highlight code {
    padding: 0;
}
